.container {
  width: 100vw;
  max-width: 100%;
  margin: 1rem;
}

.basic-info {
  width: calc(100% - 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  margin: 1rem;
  max-width: 300px;
}

.display {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.map {
  width: 100%;
  position: relative;
}

.leafMap {
  margin: 1rem;
  height: 600px;
  width: calc(100% - 4rem);
}

.time {
  font-style: italic;
}


@media screen and (max-width: 850px) {
  .display {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .table {
    position: relative;
    margin: 1rem;
    max-width: calc(100% - 4rem);
  }


  .basic-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .time {
    margin-left: 1rem;
  }
}
